body{
    background-color: black;
}
.parent{
    position: relative;
    /* height: 400px; */
    width: 100%;
}
.child{
    position: absolute;
    bottom: 20%;
}
.fontHeader{
    font-size: 3vw !important;

}
.personalInfoSpan{
    color:grey;
    font-size: 1rem;
}
.personalInfoSpanData{
    font-size: 1rem;
}
.icon{
    font-size: 8rem;
    /* color:#4ce32a */
}
.btn-resume{
    font-weight: 700;
}
.bg-orange{
    color:#E75031;
}
.skill{
    padding-top: 5px;
    transition: all 0.4s ease-in-out;
}
.skill:hover{
    color: black;
    background-color: #ffffff39;
    /* padding-top:2px ; */
}


.w-20{
    width: 20%;
}

#navBar a{
    font-weight: 800;
    position: relative;
    transition: all 0.3s ease-in-out;
}

#navBar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #ffff;
    transition: all 0.3s ease-in-out;
}

#navBar a:hover::after {
    width: 100%;
  }


  .my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

#skillsSection{
    position: relative;
}
.parentMyskills{
    position: absolute;
    top: 0px;
    z-index: -1;
}

.skilllContianter{
    text-align: center;
}
.SkillsOne{
    font-size: 15vw;
    font-weight: 900;
    color: rgba(74, 74, 74,0.5);
    position: relative;
}

.SkillsTwo{
    font-size: 14vw;
    font-weight: 900;
    position: absolute;
    color: #fff;
    top: 15%;
    left: 4%;
    
}


.ExperienceContianter{
    text-align: center;
}
.ExperienceOne{
    font-size: 12vw;
    font-weight: 900;
    color: rgba(74, 74, 74,0.5);
    position: relative;
}

.ExperienceTwo{
    font-size: 11vw;
    font-weight: 900;
    position: absolute;
    color: #fff;
    top: 15%;
    left: 4%;
    
}